* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/*generic components*/
.btn {
    background: rebeccapurple;
    color: white;
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 20px;
}


/*quiz*/
.quiz {
    /*background-color: red;*/
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

/*quiz header section*/
.quiz-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.quiz-header-high-scores,
.quiz-header-timer {
    font-size: 32px;
    text-transform: capitalize;
}

.quiz-header-high-scores {
    color: rebeccapurple;
}

/*quiz slide section*/
.quiz-slide {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
}

.quiz-slide.hide {
    display: none;
}

.quiz-slide-title {
    font-size: 34px;
    text-transform: capitalize;
}

.quiz-slide-content {
    font-size: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
}

.quiz-answer {
    font-size: 30px;
    text-align: center;
    border-top: 2px solid;
    margin-top: 20px;
    padding: 20px;
    color: gray;
    font-style: italic;
}

.quiz-answer.hide {
    display: none;
}


.quiz-slide-submit-score-get-initials {
    margin: 30px;
    padding: 10px 20px;
    font-size: 28px;
}

.high-score-slide-list {
margin: 30px;

}

.high-score-slide-list li {
    font-size: 20px;
    text-align: left;
    padding: 10px 30px;
}






